$main-clor:#0D5Db8;
$color-scendary:#ffa500;

body {
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f8f9fc;
}

header {
    .navbar{
      background-color: $main-clor;
    }
    .navbar-nav {
        padding-right: 0; 
        list-style: none;

        .nav-link{
          color:#fff !important;
          font-size: 20px;
          margin: 5px;
          transition: all 0.5s ease;

        &:hover{
            color:$color-scendary !important;
        }

        &.active {
        color:$main-clor !important;
        font-weight: bold;
        background-color:$color-scendary;
        border-radius: 5px;
        }
     }
    }

    .navbar-brand{
        color: #fff !important;
        font-weight: bold;
        font-size: 24px;

        img{
           background-color: #ffa500;
           border-radius: 50%;
           width: 40px;
            height: 40px;
        }

        span{
            color: $color-scendary;
        }   
    }
}
/*زر تسجيل الدخول */
#nav-link4{
    padding: 9px;
    border-radius: 10px;
    color: #fff !important;

    &:hover{
        background-color: $color-scendary;
        color: #fff !important;
    }
    
}

/*قسم الكورسر */
.carousel-item{
    img{
        width: 100%;
        height: 350px;
        object-fit: cover;
        object-position: center 30%;
    }
    
}

.carousel-caption {
    h5 {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4); 
        display: inline-block; 
        padding: 5px 10px;
        border-radius: 5px;
        color: $color-scendary;
        font-weight: bold;
    }   

    p {
        display: block; 
        margin-top: 20px !important;
        padding: 5px 10px;
        border-radius: 5px;
        color: #fff;
        font-weight: bold;
        background-color: rgba(0, 0, 0, 0.4);
    }
}



/*قسم  نشاطنة*/
.activities{

    background-color: #f8f9fc;

    .activity-card {
      background: #fff;
      border-radius: 16px;
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
      transition: transform 0.5s ease;

        &:hover{
          transform: translateY(-6px);
        }
    }
}

/*قسم تلاميزما */
.students {
    

  .student-card {
    
    border-radius: 16px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,.08);
    height: auto;
    transition:transform 1s ease;
    &:hover{
        transform: translateY(-6px);
    }

    cursor: pointer;

    img {
      width: 100%;
      object-fit: cover;
      margin-bottom: 15px;
    }

    h5 {
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 4px;
      color: $main-clor;
    }

    span {
      font-size: 13px;
      color:black;
    }
  }

  /* الأسهم */
  .carousel-control-prev,
  .carousel-control-next {
    width: 45px;
    height: 45px;
    background: #0d6efd;
    border-radius: 50%;
    top: 40%;
    opacity: 1;
    border: 2px solid $color-scendary;

    span {
      filter: brightness(0) invert(1);
    }
  }
}



/*قسم نجوم المدرسة*/
.school-stars {
  background: $color-scendary;
  position: relative;
  .section-title {
    color: #fff;
    font-weight: 700;
  }

  .star-card {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    height: 100%;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.25);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      min-height: 320px;
    }

    .overlay {
      position: absolute;
      inset: 0;
      background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.75),
        rgba(0, 0, 0, 0.15)
      );
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      padding: 25px;
      text-align: center;
      color: #fff;

      h5 {
        font-weight: 700;
        margin-bottom: 4px;
      }

      p {
        color:$color-scendary;
        font-size: 14px;
        margin-bottom: 10px;
      }

      .btn {
        border-radius: 30px;
        font-size: 13px;
        padding: 6px 18px;
      }
    }
  }
}



.site-footer {
  background: linear-gradient(180deg, #0d6efd, #084298);
  color: #fff;
  padding-top: 50px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: radial-gradient(
      rgba(255, 255, 255, 0.15) 1px,
      transparent 1px
    );
    background-size: 20px 20px;
    opacity: 0.3;
  }

  .container {
    position: relative;
    z-index: 2;
  }

  .footer-title {
    font-weight: 700;
    margin-bottom: 25px;
  }

  .contact-list {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      display: flex;
      align-items: center;
      gap: 12px;
      margin-bottom: 18px;
      font-size: 15px;

      i {
        width: 38px;
        height: 38px;
        background: #ffc107;
        color: #084298;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        font-size: 18px;
      }

      span {
        color: #fff;
      }
    }
  }

  .map-box {
    border-radius: 18px;
    overflow: hidden;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.35);

    iframe {
      width: 100%;
      height: 220px;
      border: 0;
    }
  }

  .footer-bottom {
    margin-top: 40px;
    padding: 15px 10px;
    background: rgba(0, 0, 0, 0.25);
    font-size: 14px;
  }
}


/*قسم تسجيل الدخول اي صفحت تسجيل الدخول */
.header{
  background: white;
  text-align: center;
  border-bottom: 1px solid $main-clor;
  padding: 15px;

  img {
    height: 40px;
  }
}

.auth-wrapper {
  max-width: 60%;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  gap: 40px;  
}

.auth-card {
  background: $color-scendary;
  padding: 32px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
  text-align: center;

  h2 {
    color: $main-clor;
    margin-bottom: 24px;
    font-weight: 700;
  }

  input {
    width: 100%;
    padding: 12px 14px;
    margin-bottom: 14px;
    border-radius: 6px;
    border: 1px solid $main-clor;
    font-size: 14px;

    &:focus {
      outline: none;
      
      border: 2px solid #084298;
    }
  }
  .auth-links {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;

    a{
      font-size: 14px;
      color: #f8f9fc;
      text-decoration: none;

      &:hover{
        color: black;
        text-decoration: underline;
      }
    }
  }
  .btn-card {
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  border: none;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  background-color: $main-clor;

    &:hover{
      color: black;
    }
  }
}


/*اعطيت هاذي الخاصية لعنصر  تسجيل الدخول حيث يكون  مخفي بنفس الصفحة */
.hidden {
  display: none;
}


@media (max-width: 991.98px) {

    .container-fluid {
        display: flex;
        justify-content: space-between; // يضع الشعار في جهة والزر في الجهة الأخرى
        align-items: center;
    }

    .navbar-brand {
        order: 1; // يضمن بقاء الشعار أول عنصر (في الأعلى)
        margin-left: 0;
    }

    .navbar-toggler {
        order: 2; // يضع زر القائمة في الجهة المقابلة
    }

    .navbar-collapse {
        order: 3; // يضمن أن تفتح القائمة تحت الشعار والزر
        width: 100%; // لتأخذ القائمة العرض الكامل عند النزول لأسفل الشعار
    }

    .navbar-nav {
        text-align: center; // لتوسيط الروابط عند فتح القائمة
        padding-top: 15px;
    }
    
    .navbar-brand{
        img{
            width: 30px;
            height: 30px;
            justify-self: start;
            align-items: center;
        }   

    }

    .nav-link, #nav-link4 {
        font-size: 14px; // تصغير الخط قليلاً ليتناسب مع المساحة
        padding: 5px;
        margin: 2px;
        white-space: nowrap; // يمنع النص من الانقسام لسطرين
    }


    

    /* إخفاء الأسهم */
    .carousel-control-prev,
    .carousel-control-next {
      display: none;
    }



    .carousel-control-prev, 
    .carousel-control-next {
        display: none;
    }
    
    /*تحسين شكل الأزرار الجديدة */
    .btn-primary {
        background-color: $main-clor; 
        border: none;
        padding: 8px 25px;
        border-radius: 20px;
        
        &:active {
            background-color: $color-scendary;
        }
    }
}

