/* 1. المتغيرات*/
$blue: #2f6fa5;
$light-blue: #eaf2f9;
$orange: #f0a21a;
$bg: #f7f7f7;
$primary-green: #4f7f50;
$primary-green-light: #7fae8c;

/* 2. المخاليط - Mixins */


@mixin flex-center {
  display: flex;
  align-items: center;
  gap: 10px;
}

// مكسن موحد لقسم معلومات الطالب (لؤي وسالم)
@mixin student-info-layout($bg-val, $txt-color, $hr-color) {
  background: $bg-val;
  padding: 30px;
  color: $txt-color;
  font-weight: bold;

  .student-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .student-img {
    width: 160px;
    border-radius: 10px;
    border: 4px solid white;
  }

  .student-data {
    text-align: left;
    h2 {
      font-size: 28px;
      margin-bottom: 15px;
      font-weight: bold;
      text-align: right;
    }
    hr, #hr-student {
      border: 0;
      height: 2px;
      background: $hr-color;
      margin-bottom: 15px;
    }
    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      li {
         text-align: right; 
        }
      span {
         color: $orange;
         }
    }
  }
}

// مكسن موحد للجداول
@mixin table-container($title-color, $header-bg, $td-color: inherit) {
  padding: 30px;
  h3 {
    color: $title-color;
    margin-bottom: 15px;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    th {
      background: $header-bg;
      color: white;
      padding: 10px;
    }
    td {
      padding: 10px;
      border: 1px solid #ddd;
      text-align: center;
      color: $td-color;
    }
  }
}

@mixin info-section($bg-section, $title-color, $p-color: black) {
  background: $bg-section;
  padding: 30px;
  h3 { color: $title-color; }
  ul {
    padding-right: 20px;
    li { margin-bottom: 8px; }
  }
  p {
    line-height: 1.8;
    color: $p-color;
  }
}


body {
  font-family: "Tahoma", sans-serif;
  background: $bg;
  margin: 0;
  padding: 0;
}

.logo-link {
  @include flex-center;
  text-decoration: none;
  color: $orange;
  .logo {
    height: 30px;
    width: 30px;
  }
}

/*  تنسيقات الصفحة الأولى (لؤي أحمد) */
.header1 {
  background: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.student-info { @include student-info-layout($blue, white, $orange); }
.results { @include table-container($blue, $orange); }
.notes { @include info-section($light-blue, $blue); }
.advice { @include info-section(#f3efe6, $blue); }

/* 5. تنسيقات الصفحة الثانية (سالم فؤاد) */
.header3 {
  background: #f7f9f6;
  h1 { color: $primary-green; }
}

.student-info-2 {
  @include student-info-layout(linear-gradient(to left, $primary-green-light, $primary-green), $primary-green, $light-blue);
}


/*هون اعطيت الالوان */
.results-2 { @include table-container($primary-green, $primary-green-light, $primary-green); }
.notes-2 { @include info-section($primary-green-light, $primary-green); }
.advice-2 { @include info-section($bg, $primary-green, $orange); }